<div class=titulo> 
  <h1>Lista de Películas</h1>
</div>

<div>
  <div>
    @if(selected){
    <app-movie-detail [movie]="selectedMovie"></app-movie-detail>
    }
    <table>
      @for(movie of movies; track movie.id) {

      <tr (click)="onSelect(movie)">
        <td>
          <b>{{ movie.title }}</b>
        </td>
        <td>
          <img class="poster-img" [src]="movie.posterImageUrl" alt="{{ movie.title }} poster" />
        </td>
        <td>{{ movie.director }}</td>
        <td>{{ movie.releaseYear }}</td>
        <td>{{ movie.rating }}</td>
      </tr>
      }
    </table>
  </div>
</div>
