<div class="movies-page">
  <h1 class="page-title">Lista de Películas</h1>

  <div class="movies-grid">
    @for (movie of movies; track movie.id) {
      <article
        class="movie-card"
        (click)="onSelect(movie)"
        tabindex="0"
        role="button"
      >
        <img
          class="movie-poster"
          [src]="movie.posterImageUrl"
          [alt]="movie.title"
        />

        <div class="movie-info">
          <h2 class="movie-title">{{ movie.title }}</h2>


          <p class="movie-synopsis">
            {{ movie.description || movie.shortDescription }}
          </p>

          <p class="movie-director">
            <span class="label">Director:</span> {{ movie.director }}
          </p>

          <p class="movie-year">
            <span class="label">Año:</span> {{ movie.releaseYear }}
          </p>
        </div>
      </article>
    }
  </div>
</div>