
img.poster-img {
  max-width: 250px;
}

tr:hover {
  background-color: rgb(173, 198, 230);
  cursor: pointer;
}

thead {
  background-color: palevioletred;
}

.titulo{
  background-color: rgb(125, 134, 255);
  justify-content: center;
}